name: Checkov Scan (Reusable)

on:
  workflow_call:
    inputs:
      output_format:
        description: "Output format for Checkov results (e.g., cli or cli,sarif)"
        required: false
        type: string
        default: "cli"
      output_file_path:
        description: "Output file path for Checkov results (e.g., console or console,results.sarif)"
        required: false
        type: string
        default: "console"
      upload_sarif:
        description: "Enable or disable SARIF file upload (true/false)"
        required: false
        type: boolean
        default: false
      skip_check:
        description: "Comma-separated list of checks to skip (e.g., CKV_TF_1,CKV_GCP_18)"
        required: false
        type: string
        default: ""

jobs:
  scan:
    permissions:
      contents: read
      actions: read
      security-events: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Checkov GitHub Action
        uses: bridgecrewio/checkov-action@de3c276ef8118f7ce6bcb2e51d8dd3d65ac0ae36 # v12
        with:
          output_format: ${{ inputs.output_format }}
          output_file_path: ${{ inputs.output_file_path }}
          framework: "terraform" # Scan terraform files
          quiet: true
          skip_check: ${{ inputs.skip_check }}

      - name: Upload SARIF file
        if: ${{ inputs.upload_sarif == true && (success() || failure()) }}
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: results.sarif
