# This Continuous Integration (CI) workflow template can be used in repositories that contain Go code.
#
# The following jobs are included:
#  * go-generate-diff: Checks if files generated via 'go generate' are up-to-date
#  * tests-and-builds: Runs all tests and builds the code
#  * govulncheck: Checks for known vulnerabilities in the Go dependencies
#  * linter: Runs golangci-lint
#
# NOTE: Certain inputs are required, as detailed in the "inputs" section below.

name: Golang CI Workflow Template
on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: '.'
      build-tags:
        required: true
        type: string # containing Json-formatted array of strings, e.g. '["", "tag1", "tag2", "tag1,tag3"]'
      golangci-lint-version:
        required: false
        type: string
        default: 'v1.56'
      golangci-lint-timeout:
        required: false
        type: string
        default: '5m'
      golangci-lint-only-new-issues:
        required: false
        type: boolean
        default: false
      upload-sarif:
        required: false
        type: boolean
        default: false
        description: 'Upload SARIF report for GitHub Advanced Security Dashboard'
      runs-on:
        required: false
        type: string
        default: 'ubuntu-latest'

jobs:
  detect-modules:
    runs-on: ${{ inputs.runs-on }}
    outputs:
      module-dir: ${{ steps.set-modules.outputs.module-dir }}
      has-changes: ${{ steps.set-modules.outputs.has-changes }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - id: set-modules
        # compares the go modules from `release-please-config.json` in each repo to the directories with git diffs
        run: |
          all_module_dirs=$(cat release-please-config.json 2>/dev/null | jq -csS --arg workingDir ${{ inputs.working-directory }} 'if length == 0 then ["\($workingDir)"] else ( ((.[0].packages | keys?) // []) | if length == 0 then ["\($workingDir)"] else map("\($workingDir)/\(.)") end) end')
          changed_module_dirs=$(jq -cnS --argjson packages $all_module_dirs --argjson changed_module_dirs $(git diff --name-only --line-prefix='./' refs/remotes/origin/master HEAD | awk -F "/*[^/]*/*$" '{ print ($1 == "." ? "./." : $1); }' | cut -d "/" -f1-2 | sort | uniq | jq -ncRS '[inputs]') '$packages | map(select(. as $pkg | $changed_module_dirs | index($pkg)))' | awk '{ print ($1 == "[]" ? "[\"./.\"]" : $1); }')
          has_changes=$(echo $all_module_dirs | jq -c --argjson changed_module_dirs "$changed_module_dirs" 'map(. as $dir | {key: $dir, value: ($changed_module_dirs | index($dir) != null)}) | from_entries')
          echo "module-dir=$all_module_dirs" >> $GITHUB_OUTPUT
          echo "has-changes=$has_changes" >> $GITHUB_OUTPUT
          echo $has_changes

  go-generate-diff:
    name: Check for go generate changes
    needs: detect-modules
    runs-on: ${{ inputs.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        module-dir: ${{ fromJson(needs.detect-modules.outputs.module-dir) }}
    steps:
      - name: Skip if no changes
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == false }}
        run: echo "No changes detected in ${{ matrix.module-dir }}. Skipping go generate."

      - name: Check out code into the Go module directory
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true }}
        uses: actions/checkout@v5

      - name: Set up Go for app
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true }}
        uses: actions/setup-go@v6
        with:
          go-version-file: ${{ matrix.module-dir }}/go.mod
          cache-dependency-path: ${{ matrix.module-dir }}/go.sum

      - name: Install mockgen
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true }}
        run: go install go.uber.org/mock/mockgen@latest

      - name: Run go generate
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true }}
        run: go generate ./...
        working-directory: ${{ matrix.module-dir }}

      - name: Check for go generate changes
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true }}
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            echo "Changes were found after running go generate. Please run it and commit the changes."
            git diff # This will show the changes in the Action's log
            exit 1
          fi

  tests-and-builds:
    name: Run tests and builds
    needs: detect-modules
    runs-on: ${{ inputs.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        build-tag: ${{ fromJson(inputs.build-tags) }}
        module-dir: ${{ fromJson(needs.detect-modules.outputs.module-dir) }}
    steps:
      - name: Skip if no changes
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == false }}
        run: echo "No changes detected in ${{ matrix.module-dir }}. Skipping build and tests."

      - name: Check out code into the Go module directory
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true }}
        uses: actions/checkout@v5

      - name: Set up Go for app
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true }}
        uses: actions/setup-go@v6
        with:
          go-version-file: ${{ matrix.module-dir }}/go.mod
          cache-dependency-path: ${{ matrix.module-dir }}/go.sum

      - name: Run tests with race detection
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true }}
        run: go test ${{ matrix.build-tag != '' && format('-tags {0}', matrix.build-tag) || '' }} -v -race ./...
        working-directory: ${{ matrix.module-dir }}

      - name: Run build
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true }}
        run: go build ${{ matrix.build-tag != '' && format('-tags {0}', matrix.build-tag) || '' }} ./...
        working-directory: ${{ matrix.module-dir }}

  govulncheck:
    name: Go Vulnerability Check
    needs: detect-modules
    runs-on: ${{ inputs.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        module-dir: ${{ fromJson(needs.detect-modules.outputs.module-dir) }}
    steps:
      - name: Skip if no changes
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == false }}
        run: echo "No changes detected in ${{ matrix.module-dir }}. Skipping vuln check."

      - name: govulncheck ${{ matrix.module-dir }}
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true }}
        # NOTE: Repo checkout and go setup are handled within 'govulncheck-action'
        uses: golang/govulncheck-action@v1
        with:
          go-version-file: ${{ matrix.module-dir }}/go.mod
          go-package: ./...
          work-dir: ${{ matrix.module-dir }}

  semgrep-scan:
    name: Run Semgrep Scan
    needs: detect-modules
    runs-on: ${{ inputs.runs-on }}
    permissions:
      security-events: write
      contents: read
      actions: read
    container:
      image: semgrep/semgrep
    strategy:
      fail-fast: false
      matrix:
        module-dir: ${{ fromJson(needs.detect-modules.outputs.module-dir) }}
    steps:
      - name: Skip if no changes
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == false }}
        run: echo "No changes detected in ${{ matrix.module-dir }}. Skipping Semgrep scan."

      - name: Checkout repository
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true }}
        uses: actions/checkout@v5

      - name: Perform Semgrep Analysis and Generate SARIF
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true && inputs.upload-sarif }}
        run: |
          cd ${{ matrix.module-dir }}
          semgrep scan --config auto --sarif > semgrep.sarif

      - name: Perform Semgrep Analysis with CLI Output
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true && !inputs.upload-sarif }}
        run: |
          cd ${{ matrix.module-dir }}
          semgrep scan --config auto

      - name: Upload SARIF file for GitHub Advanced Security Dashboard
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true && inputs.upload-sarif }}
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ matrix.module-dir }}/semgrep.sarif
          category: semgrep-${{ matrix.module-dir }}

  linter:
    name: Run golangci-lint
    needs: detect-modules
    runs-on: ${{ inputs.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        build-tag: ${{ fromJson(inputs.build-tags) }}
        module-dir: ${{ fromJson(needs.detect-modules.outputs.module-dir) }}
    steps:
      - name: Skip if no changes
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == false }}
        run: echo "No changes detected in ${{ matrix.module-dir }}. Skipping linter."

      - name: Check out code into the Go module directory
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true }}
        uses: actions/checkout@v5

      - name: Set up Go for app
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true }}
        uses: actions/setup-go@v6
        with:
          go-version-file: ${{ matrix.module-dir }}/go.mod
          cache-dependency-path: ${{ matrix.module-dir }}/go.sum

      - name: golangci-lint ${{ matrix.module-dir }}
        if: ${{ fromJson(needs.detect-modules.outputs.has-changes)[matrix.module-dir] == true }}
        uses: golangci/golangci-lint-action@v9
        with:
          version: ${{ inputs.golangci-lint-version }}
          args: --timeout ${{ inputs.golangci-lint-timeout }} --verbose ${{ matrix.build-tag != '' && format('--build-tags {0}', matrix.build-tag) || '' }}
          # Show only new issues if it's a pull request
          only-new-issues: ${{ inputs.golangci-lint-only-new-issues }}
          working-directory: ${{ matrix.module-dir }}
