# This Continuous Integration (CI) workflow template can be used in repositories that contain Go code.
#
# The following jobs are included:
#  * go-generate-diff: Checks if files generated via 'go generate' are up-to-date
#  * tests-and-builds: Runs all tests and builds the code
#  * govulncheck: Checks for known vulnerabilities in the Go dependencies
#  * linter: Runs golangci-lint
#
# NOTE: Certain inputs are required, as detailed in the "inputs" section below.

name: Golang CI Workflow Template
on:
  workflow_call:
    inputs:
      working-directory:
        required: false
        type: string
        default: "."
      build-tags:
        required: true
        type: string # containing Json-formatted array of strings, e.g. '["", "tag1", "tag2", "tag1,tag3"]'
      golangci-lint-version:
        required: false
        type: string
        default: "v1.56"
      golangci-lint-timeout:
        required: false
        type: string
        default: "5m"
      golangci-lint-only-new-issues:
        required: false
        type: boolean
        default: false

jobs:
  detect-modules:
    runs-on: ubuntu-latest
    outputs:
      module-dir: ${{ steps.set-modules.outputs.module-dir }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - id: set-modules
        # compares the go modules from `release-please-config.json` in each repo to the directories with git diffs
        run: >-
          echo "module-dir=$(jq -cnS --argjson packages $(jq -cS --arg workingDir ${{ inputs.working-directory }} '( ((.packages | keys?) // []) | if length == 0 then ["\($workingDir)"] else map("\($workingDir)/\(.)") end)' release-please-config.json) --argjson changed_dirs $(git diff --name-only --line-prefix='./' refs/remotes/origin/master HEAD | awk -F "/*[^/]*/*$" '{ print ($1 == "." ? "./." : $1); }' | cut -d "/" -f1-2 | sort | uniq | jq -ncRS '[inputs]') '$packages | map(select(. as $pkg | $changed_dirs | index($pkg)))')" >> $GITHUB_OUTPUT

  go-generate-diff:
    if: ${{ needs.detect-modules.outputs.module-dir != '[]' }}
    name: Check for go generate changes
    needs: detect-modules
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module-dir: ${{ fromJson(needs.detect-modules.outputs.module-dir) }}
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up Go for app
        uses: actions/setup-go@v5
        with:
          go-version-file: ${{ matrix.module-dir }}/go.mod
          cache-dependency-path: ${{ matrix.module-dir }}/go.sum

      - name: Install mockgen
        run: go install go.uber.org/mock/mockgen@latest

      - name: Run go generate
        run: go generate ./...
        working-directory: ${{ matrix.module-dir }}

      - name: Check for go generate changes
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            echo "Changes were found after running go generate. Please run it and commit the changes."
            git diff # This will show the changes in the Action's log
            exit 1
          fi

  tests-and-builds:
    name: Run tests and builds
    needs: detect-modules
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-tag: ${{ fromJson(inputs.build-tags) }}
        module-dir: ${{ fromJson(needs.detect-modules.outputs.module-dir) }}
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up Go for app
        uses: actions/setup-go@v5
        with:
          go-version-file: ${{ matrix.module-dir }}/go.mod
          cache-dependency-path: ${{ matrix.module-dir }}/go.sum

      - name: Run tests with race detection
        run: go test ${{ matrix.build-tag != '' && format('-tags {0}', matrix.build-tag) || '' }} -v -race ./...
        working-directory: ${{ matrix.module-dir }}

      - name: Run build
        run: go build ${{ matrix.build-tag != '' && format('-tags {0}', matrix.build-tag) || '' }}
        working-directory: ${{ matrix.module-dir }}

  govulncheck:
    name: Go Vulnerability Check
    needs: detect-modules
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module-dir: ${{ fromJson(needs.detect-modules.outputs.module-dir) }}
    steps:
      - name: govulncheck ${{ matrix.module-dir }}
        # NOTE: Repo checkout and go setup are handled within 'govulncheck-action'
        uses: golang/govulncheck-action@v1
        with:
          go-version-file: ${{ matrix.module-dir }}/go.mod
          go-package: ./...
          work-dir: ${{ matrix.module-dir }}

  linter:
    name: Run golangci-lint
    needs: detect-modules
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build-tag: ${{ fromJson(inputs.build-tags) }}
        module-dir: ${{ fromJson(needs.detect-modules.outputs.module-dir) }}
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Set up Go for app
        uses: actions/setup-go@v5
        with:
          go-version-file: ${{ matrix.module-dir }}/go.mod
          cache-dependency-path: ${{ matrix.module-dir }}/go.sum

      - name: golangci-lint ${{ matrix.module-dir }}
        uses: golangci/golangci-lint-action@v6
        with:
          # The version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: ${{ inputs.golangci-lint-version }}

          args: --timeout ${{ inputs.golangci-lint-timeout }} --verbose ${{ matrix.build-tag != '' && format('--build-tags {0}', matrix.build-tag) || '' }}

          # Show only new issues if it's a pull request
          only-new-issues: ${{ inputs.golangci-lint-only-new-issues }}

          working-directory: ${{ matrix.module-dir }} # if there is more than one module in the workspace they will all be linted
