name: Secret Scanning (Reusable)

on:
  workflow_call:
    inputs:
      branches:
        description: "Branches to trigger the workflow"
        required: false
        type: string
        default: "main,master"
      extra_args:
        description: "Extra arguments for TruffleHog"
        required: false
        type: string
        default: "--results=verified,unknown"
      upload_sarif:
        description: "Upload SARIF results to GitHub Security"
        required: false
        type: boolean
        default: false

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Trufflehog Secret Scanning
        uses: trufflesecurity/trufflehog@v3.91.2
        with:
          extra_args: ${{ inputs.extra_args }} ${{ inputs.upload_sarif && '--format sarif --output trufflehog-results.sarif' || '' }}

      - name: Upload SARIF file
        if: inputs.upload_sarif == true && (success() || failure())
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: trufflehog-results.sarif
