name: Secret Scanning (Reusable)

on:
  workflow_call:
    inputs:
      branches:
        description: "Branches to trigger the workflow"
        required: false
        type: string
        default: "main,master"
      extra_args:
        description: "Extra arguments for TruffleHog"
        required: false
        type: string
        default: "--results=verified,unknown"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Trufflehog Secret Scanning
        uses: trufflesecurity/trufflehog@0f58ae7c5036094a1e3e750d18772af92821b503 # v3.90.5
        with:
          extra_args: ${{ inputs.extra_args }}
