name: Secret Scanning (Reusable)

permissions:
  contents: read

on:
  workflow_call:
    inputs:
      branches:
        description: "Branches to trigger the workflow"
        required: false
        type: string
        default: "main,master"
      extra_args:
        description: "Extra arguments for TruffleHog"
        required: false
        type: string
        default: "--results=verified,unknown"

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Trufflehog Secret Scanning
        uses: trufflesecurity/trufflehog@v3.90.13
        with:
          extra_args: ${{ inputs.extra_args }}
