name: Semgrep Security Scan Template

on:
  workflow_call:
    inputs:
      runs-on:
        required: false
        type: string
        default: "ubuntu-latest"
        description: "The runner to use for the workflow"
      upload-sarif:
        required: false
        type: boolean
        default: true
        description: "Upload SARIF report for GitHub Advanced Security Dashboard"
      semgrep-config:
        required: false
        type: string
        default: "auto"
        description: "Semgrep configuration to use (auto, p/security-audit, p/owasp-top-ten, etc.)"

jobs:
  semgrep-scan:
    name: Semgrep Scan
    runs-on: ${{ inputs.runs-on }}
    container:
      image: semgrep/semgrep
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Perform Semgrep Analysis and Generate SARIF
        run: |
          semgrep scan --config ${{ inputs.semgrep-config }} --sarif > semgrep.sarif

      - name: Upload SARIF file for GitHub Advanced Security Dashboard
        if: inputs.upload-sarif
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep.sarif
          category: semgrep
